{% extends "base.html" %}
{% block content %}

<div class="text-2xl content-center flex flex-row mt-52 font-bold	">
    <div class="w-full ml-8">
        <img src="https://i.ibb.co/ydTX0hL/logo.jpg" class="" alt="logo">
    </div>
    <div class="w-full pt-32">
        <p>
            Discover digital masterpieces on our platform. 
        </p>  
        <p>
            Elevate your space with unique, captivating art. 
        </p>
        <p>
            Browse,buy,and own exceptional digital creations today!
        </p>  
    </div>
</div>

{% endblock %}